# Object files
*.o
*.xml
*.res
*.tar


# Ideal files
Lab_2/src/.idea
Lab3/Part_A/.idea
Lab3/src.BC/.idea
Lab3/.idea
Lab4/src.ABC/.idea
Lab4/src.DEF/.idea
lab5/.idea

# ignore swap files
*.swp

# results folder
Lab_2/results

# Executables
Lab_2/src/sim
Lab4/src.ABC/sim

# tar files
*.gz

# report files
Lab_2/scripts/report.txt
Lab3/scripts/report.txt

# Debug files
Lab_2/src/cmake-build-debug
Lab3/src.BC/cmake-build-debug
Lab4/src.ABC/cmake-build-debug
Lab4/src.DEF/cmake-build-debug
